.about {
  background-image: linear-gradient(to bottom, transparent, #4F3786);
  
  .flex-parent {
    padding: 100px 20px;
    @include flex(column-reverse, center, center);
  }

  .section-title {

    margin: $spacing-m 0;
    z-index: 40;
  }

  &-copy {
    width: 100%;
    @include flex(column, center, center);

    .middle-p {
      margin: 0;
    }
  }


  &-img {
    width: 80%;
    position: relative;
    z-index: 20;

    &:before,
    &:after {
      display: block;
      content: "";
      width: 220px;
      height: 220px;
      position: absolute;
      border-radius: 50%;
    }

    &:before {
      background: $accent2;
      bottom: -25%;
      right: -10%;
      z-index: 30;
      opacity: 0.5;
    }

    &:after {
      background: $accent1;
      bottom: 0;
      right: -20%;
      z-index: -1;
      opacity: 1;
    }

    img {
      border-radius: 50%;
    }
  }

  .download {
    @include button($accent1, $accent2);
    letter-spacing: 2px;
  }
}



// ****MEDIA QUERIES****
@media (min-width: $small-tablet){
  .about {
    .flex-parent {
      padding: $spacing-xl $spacing-l $spacing-m;

    }
  }
}


@media (min-width: $large-tablet) {
  .about {
    
    .flex-parent {
      flex-direction: row;
      justify-content: space-between;
    }
    
    &-img {
      max-width: 35%;
    }
    
    &-copy {
      max-width: 60%;
    }
  }
}


@media (min-width: $laptop) {

}