.about {
  background-image: linear-gradient(to bottom, transparent, #4F3786);
  
  .flex-parent {
    padding: $spacing-xl $spacing-l 0;
    @include flex(column-reverse, center, center);
  }

  .section-title {
    margin: $spacing-m 0;
  }

  &-copy {
    width: 100%;
    @include flex(column, center, center);
  }


  &-img {
    width: 80%;
    
    img {
      border-radius: 50%;
    }
  }

  .download {
    @include button($accent1, $accent2);
  }
}



// ****MEDIA QUERIES****
@media (min-width: $small-tablet){
}


@media (min-width: $large-tablet) {
  .about {
    
    .flex-parent {
      flex-direction: row;
      justify-content: space-between;
    }
    
    &-img {
      max-width: 35%;
    }
    
    &-copy {
      max-width: 60%;
    }
  }
}


@media (min-width: $laptop) {

}