.contact {
  background: #6F3A85;


  &-social {

    a {
      font-size: 4rem;
    }
  }

  &-email {
    font-size: 2rem;
  }
}





// ****MEDIA QUERIES****
@media (min-width: $small-tablet) {

}

@media (min-width: $large-tablet) {
  .contact {

    &-email {
      font-size: 3rem;
    }
  }
}

@media (min-width: $laptop) {

}