.contact {
  background: #6F3A85;
  text-align: center;
  padding-bottom: $spacing-l;

  .section-title {
    margin: $spacing-l 0;
  }

  address {
    font-style: normal;
    font-size: 2.2rem;
  }

  &-email {
    font-size: 2.5rem;
    font-family: $headers;
    letter-spacing: 2px;
    @include color-text-shadow($accent5);

    @include hover-state {
      scale: 1.1;
    }
  }

  &-social  {
    margin: $spacing-l 0;

    ul {
      @include flex(default, space-around, center);
    }

    a {
      font-size: 4rem;

      @include hover-state {
        scale: 1.1;
      }
    }
  }
}





// ****MEDIA QUERIES****

@media (min-width: $large-tablet) {
  .contact {

    &-social {
      ul {
        width: 60%;
        margin: 0 auto;
      }
    }

    &-email {
      font-size: 3rem;
    }
  }
}
