.contact {
  background: #6F3A85;

  .flex-parent
   {
    display: flex;
  }

  &-social {

    a {
      font-size: 4rem;
    }
  }

  &-email {
    font-size: 3rem;
  }
}





// ****MEDIA QUERIES****
@media (min-width: $small-tablet) {

}

@media (min-width: $large-tablet) {

}

@media (min-width: $laptop) {

}