body {
  position: relative;
  background-color: $primary;
  background-image: linear-gradient(to bottom, #403682, $primary);
}


/* STRIPPING STYLES */
body, 
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}


/* COMMON */
.wrapper {
  width: 100%;
  padding: 0 20px
}



// End of GENERAL



// ****MEDIA QUERIES****
@media (min-width: $small-tablet) {
  
  
}


@media (min-width: $large-tablet) {
  .wrapper {
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}


@media (min-width: $laptop) {

}

