header {
  height: 100vh;
  background-image: url(../assets/wave1.svg);
  background-size: cover;
  background-position: top right;
  position: relative;

  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: $spacing-l;
    position: relative;
  }

  .title-container {
    align-self: flex-end;
    text-align: center;
  }

  .title {
    margin-bottom: $spacing-s;
  }

  .nav {

    .hamburger {
      background: transparent;
      color: white;
      font-size: 5rem;
      position: fixed;
      top: 10px;
      left: 10px;
    }

    & ul {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $primary;
      padding-top: $spacing-l;
      text-align: center;

      // hidden on mobile
      display: none;
    }

    & li {
      margin: 0 $spacing-s;
    }
    
    &-link {
      padding: $spacing-m;
      transition: $transition;
      text-transform: uppercase;
      font-size: 2.5rem;

      @include hover-state {
        border-color: transparent;
      }
    }

    .close {
      background: transparent;
      color: white;
      padding: $spacing-m;
      font-size: 4rem;
      border: none;
    }
  }
    
}



// ****MEDIA QUERIES****
@media (min-width: $small-tablet) {
  header {
    background-position: center;

    .flex-parent {
      justify-content: space-between;
    }

    .title-container {
      text-align: end;
    }

    .nav {
      align-self: flex-start; 

      & ul {
        @include flex(row, center, start);
        position: static;
        background: none;
        padding: 0;
      }

      &-link {
        border-bottom: 2px solid white;
        padding: $spacing-s;
        padding-left: 0;
      }
    }
    .mobile-only {
      display: none;
    }
  }
}


@media (min-width: $large-tablet) {

}


@media (min-width: $laptop) {

}