header {
  height: 100vh;
  background-image: url(../assets/wave1.svg);
  background-size: cover;
  background-position: center;
  position: relative;

  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: $spacing-l;
  }

  .title {
    align-self: flex-end;
    text-align: end;
  }

  .nav {
    align-self: flex-start;

    & ul {
      display: flex;
    }

    & li {
      margin: 0 $spacing-s;
    }
    
    &-link {
      padding: $spacing-s;
      border-bottom: 2px solid white;
      transition: $transition;
      text-transform: uppercase;

      @include hover-state {
        border-color: transparent;
      }
    }
  }
    
}



// ****MEDIA QUERIES****
@media (min-width: $small-tablet) {

}


@media (min-width: $large-tablet) {

}


@media (min-width: $laptop) {

}