
// COLORS
$accent1: #FD7C20;
$accent2: #B600A6;
$accent3: #3CB87A;
$accent4: #50C2DA;
$accent5: #D31B65;


// BREAKPOINTS (mobile first)
$small-tablet: 480px + 1px;
$large-tablet: 768px + 1px;
$laptop: 980px + 1px;

// SPACING
$spacing-s: 10px;
$spacing-m: 30px;
$spacing-l: 50px;
$spacing-xl: 100px;



// MISC
$transition: all 0.3s ease-out;






// MIXINS

// flexbox
@mixin flex($flex-direction: initial, $justify-content: initial, $align-items: initial) { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}


// hover state
@mixin hover-state {
  &:hover,
  &:focus {
      @content;
  }
}

//button 
@mixin button($color) {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: $color;
  color: white; 
  text-transform: uppercase;
}

@mixin section($bg) {
  background: $bg;
}





