.projects {
  background: #5E3789; 
}

.project {
  text-align: center;
  padding-bottom: $spacing-l;

  &-inner {
    display: grid;
    grid-gap: $spacing-m;
    grid-template-columns: 1fr;
    padding: $spacing-l 20px;
  }

  &-img {
    min-width: 320px;

    img {
      box-shadow: $dark-box-shadow;
    }
  }

  &-title {
    margin-bottom: $spacing-l;
    @include flex(default, center, center);
  }

  &-link {
    font-weight: 600;
    text-decoration: underline;

    @include hover-state {
      color: $accent1;
    }
  }

  &-buttons {
    @include flex(default, center, center);
  }

  &-button {
    @include button($accent2, $accent1);
  }

  &-button:nth-child(1) {
    margin-right: $spacing-m;
  }
}

// bg colors are a gradient from darker purple with blue undertone to lighter purple with red undertone
.sophie {
  @include project(#5E3789, "../assets/projects-favicons/fav-sophie.png");
}

.flashback {
  @include project(#65378B, "../assets/projects-favicons/fav-flashback.png");
}

.color-grid {
  @include project(#6C388D, "../assets/projects-favicons/fav-cgg.png");
}

.analog {
  @include project(#74388E, "../assets/projects-favicons/fav-analog.png");
}

.bite-sized {
  @include project(#7B3890, "../assets/projects-favicons/fav-bite.png");
}
// End of PROJECTS




// ****MEDIA QUERIES****

@media (min-width: $large-tablet) {
  .project {
    padding: 0;

    &-inner {
      grid-template-columns: repeat(2, 1fr);
    }

    &-img {
      grid-column: 1 / span 1;
    }

    &-copy {
      grid-column: 2 / span 1;
      text-align: center;
    }

    &-buttons {
      @include flex(row, center, center);
    } 

    &-button:nth-child(1) {
      margin: 0 $spacing-m 0 0;
    }
  }

  .project.even {
    .project-title {
      grid-column: 1 / span 1;
    }

    .project-img {
      grid-column: 2 / span 1;
      grid-row: 2;
    }

    .project-copy {
      grid-column: 1 / span 1;
      grid-row: 2;
    }
  }
}