@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro|Rajdhani:500,600|Rubik:400,500|Teko&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  /* 10px */
}

body {
  color: white;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #303030;
}

.copy {
  margin: 30px 0;
  letter-spacing: 1px;
}

.title {
  font-size: 5rem;
}

.subtitle {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 3rem;
}

.nav-link {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
}

.section-title {
  text-align: center;
  margin: 30px auto 100px;
  font-size: 4rem;
  text-transform: uppercase;
}

.project-title {
  font-size: 3rem;
  text-transform: capitalize;
}

.project-skills {
  font-size: 2.2rem;
}

@media (min-width: 480px) {
  .title {
    font-size: 9rem;
  }
  .subtitle {
    font-size: 4rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #5B4083;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#403682), to(#5B4083));
  background-image: linear-gradient(to bottom, #403682, #5B4083);
}

/* STRIPPING STYLES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

/* COMMON */
.wrapper {
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 2000px;
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }
}

header {
  height: 100vh;
  background-image: url(../assets/wave.svg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

header .flex-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 50px;
  position: relative;
}

header .title-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
}

header .title {
  margin-bottom: 10px;
}

header .hamburger {
  background: transparent;
  color: white;
  font-size: 5rem;
  position: fixed;
  top: 10px;
  left: 10px;
  text-shadow: 1px 1px 0 #303030;
  padding: 0;
}

header .nav ul {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5B4083;
  padding-top: 50px;
  text-align: center;
  display: none;
}

header .nav li {
  margin: 0 10px;
}

header .nav-link {
  padding: 30px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-transform: uppercase;
  font-size: 2.5rem;
}

header .nav-link:hover, header .nav-link:focus {
  border-color: transparent;
}

header .nav .close {
  background: transparent;
  color: white;
  padding: 30px;
  font-size: 4rem;
  border: none;
}

@media (min-width: 768px) {
  header .flex-parent {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .title-container {
    text-align: end;
  }
  header .nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: static;
    background: none;
    padding: 0;
  }
  header .nav-link {
    border-bottom: 2px solid white;
    padding: 10px;
    padding-left: 0;
  }
  header .mobile-only {
    display: none;
  }
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#4F3786));
  background-image: linear-gradient(to bottom, transparent, #4F3786);
}

.about .flex-parent {
  padding: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .section-title {
  margin: 30px 0;
  z-index: 40;
}

.about-copy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-copy .middle-p {
  margin: 0;
}

.about-img {
  width: 80%;
  position: relative;
  z-index: 20;
}

.about-img:before, .about-img:after {
  display: block;
  content: "";
  width: 220px;
  height: 220px;
  position: absolute;
  border-radius: 50%;
}

.about-img:before {
  background: #DA07C8;
  bottom: -25%;
  right: -10%;
  z-index: 30;
  opacity: 0.5;
}

.about-img:after {
  background: #FD7C20;
  bottom: 0;
  right: -20%;
  z-index: -1;
  opacity: 1;
}

.about-img img {
  border-radius: 50%;
}

.about .download {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #FD7C20;
  background-image: -webkit-gradient(linear, left top, right top, from(#FD7C20), to(#DA07C8));
  background-image: linear-gradient(to right, #FD7C20, #DA07C8);
  background-size: 200% 100%;
  background-position: 0;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #303030;
  -webkit-box-shadow: 1px 1px 2px #303030;
          box-shadow: 1px 1px 2px #303030;
  -webkit-transition: background-position 0.75s ease;
  transition: background-position 0.75s ease;
  letter-spacing: 2px;
}

.about .download:hover, .about .download:focus {
  background-position: 100%;
}

@media (min-width: 480px) {
  .about .flex-parent {
    padding: 100px 50px 30px;
  }
}

@media (min-width: 768px) {
  .about .flex-parent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about-img {
    max-width: 35%;
  }
  .about-copy {
    max-width: 60%;
  }
}

.skills {
  background: #563787;
}

.skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 30px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills li {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 10px;
}

.skills li:nth-child(3n + 1) .icon {
  -webkit-filter: drop-shadow(4px 2px 0 #FD7C20) drop-shadow(1px 1px 0 #303030);
          filter: drop-shadow(4px 2px 0 #FD7C20) drop-shadow(1px 1px 0 #303030);
}

.skills li:nth-child(3n + 2) .icon {
  -webkit-filter: drop-shadow(4px 2px 0 #DA07C8) drop-shadow(1px 1px 0 #303030);
          filter: drop-shadow(4px 2px 0 #DA07C8) drop-shadow(1px 1px 0 #303030);
}

.skills li:nth-child(3n + 3) .icon {
  -webkit-filter: drop-shadow(4px 2px 0 #2287EF) drop-shadow(1px 1px 0 #303030);
          filter: drop-shadow(4px 2px 0 #2287EF) drop-shadow(1px 1px 0 #303030);
}

.skills .icon {
  font-size: 4.5rem;
  height: 4.5rem;
  display: inline-block;
}

.skills p {
  font-size: 2.3rem;
}

@media (min-width: 768px) {
  .skills-grid {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    width: 80%;
  }
}

.projects {
  background: #5E3789;
}

.project {
  text-align: center;
  padding-bottom: 50px;
}

.project-inner {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding: 50px 20px;
}

.project-img {
  min-width: 320px;
}

.project-img img {
  -webkit-box-shadow: 1px 1px 4px #303030;
          box-shadow: 1px 1px 4px #303030;
}

.project-title {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-link {
  font-weight: 600;
}

.project-link:hover, .project-link:focus {
  color: #FD7C20;
}

.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-button {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #DA07C8;
  background-image: -webkit-gradient(linear, left top, right top, from(#DA07C8), to(#FD7C20));
  background-image: linear-gradient(to right, #DA07C8, #FD7C20);
  background-size: 200% 100%;
  background-position: 0;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #303030;
  -webkit-box-shadow: 1px 1px 2px #303030;
          box-shadow: 1px 1px 2px #303030;
  -webkit-transition: background-position 0.75s ease;
  transition: background-position 0.75s ease;
}

.project-button:hover, .project-button:focus {
  background-position: 100%;
}

.project-button:nth-child(1) {
  margin-right: 30px;
}

.sophie {
  background: #5E3789;
}

.sophie .project-title:before {
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  margin: 10px;
  background: url("../assets/projects-favicons/fav-sophie.png");
  background-size: cover;
}

.flashback {
  background: #65378B;
}

.flashback .project-title:before {
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  margin: 10px;
  background: url("../assets/projects-favicons/fav-flashback.png");
  background-size: cover;
}

.color-grid {
  background: #6C388D;
}

.color-grid .project-title:before {
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  margin: 10px;
  background: url("../assets/projects-favicons/fav-cgg.png");
  background-size: cover;
}

.analog {
  background: #74388E;
}

.analog .project-title:before {
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  margin: 10px;
  background: url("../assets/projects-favicons/fav-analog.png");
  background-size: cover;
}

.bite-sized {
  background: #7B3890;
}

.bite-sized .project-title:before {
  display: block;
  content: "";
  height: 1em;
  width: 1em;
  margin: 10px;
  background: url("../assets/projects-favicons/fav-bite.png");
  background-size: cover;
}

@media (min-width: 768px) {
  .project {
    padding: 0;
  }
  .project-inner {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .project-img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .project-copy {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    text-align: center;
  }
  .project-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-button:nth-child(1) {
    margin: 0 30px 0 0;
  }
  .project.even .project-title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
  }
  .project.even .project-img {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .project.even .project-copy {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.contact {
  background: #6F3A85;
  text-align: center;
  padding-bottom: 50px;
}

.contact .section-title {
  margin: 50px 0;
}

.contact address {
  font-style: normal;
  font-size: 2.2rem;
}

.contact-email {
  font-size: 2.5rem;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #D31B65;
}

.contact-email:hover, .contact-email:focus {
  scale: 1.1;
}

.contact-social {
  margin: 50px 0;
}

.contact-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: default;
          flex-direction: default;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-social a {
  font-size: 4rem;
}

.contact-social a:hover, .contact-social a:focus {
  scale: 1.1;
}

@media (min-width: 768px) {
  .contact-social ul {
    width: 60%;
    margin: 0 auto;
  }
  .contact-email {
    font-size: 3rem;
  }
}

.footer {
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.5;
  background: #6F3A85;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer span {
  font-weight: 600;
}

.footer a {
  font-weight: 600;
}

.footer a:hover, .footer a:focus {
  color: #FD7C20;
}
